*{
    --grid-background-color: gray;
    --grid-background-hover-color: blue;
}

/* game area */
.game.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1/1;
    height: 50vh;
    gap: 10px;
    background-color: black;;
}

.game.grid > div{
    background-color: var(--grid-background-color);
}

.game.grid > div.x{
    background: url("./images/x-mark.svg") black;
    background-color: var(--grid-background-color);
}

.game.grid > div.o{
    background: url("./images/o-mark.svg") black;
    background-color: var(--grid-background-color);
}

.game.grid > div.empty:hover{
    background-color: var(--grid-background-hover-color);
}